* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
}

.navbar {
    display: flex;
    justify-content: center !important;
    background-color: aqua;
    height: 40px;
}

.nav-link {
    border: 1px solid red !important;
    background-color: rgb(241, 239, 239, .5) !important;
}

.nav-link:hover {
    background-color: rgba(245, 245, 245, 0.904) !important;
}

.navbar-links-modified {
    display: flex;
    justify-content: center;
}

#navbar-border {
    background-color: teal !important;
    height: 70px;
}

.middle {
    background-color: rgb(141, 138, 138);
    display: flex;
    font-size: 2.5em;
}

.actions-container {
    display: flex;
    width: 20%;
    flex-direction: column;
    border: 1px solid red;
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
}

.action {
    text-align: left;
}

.page {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.info-box {
    display: flex;
    justify-self: center;
    width: 55%;
    border: 3px solid rgb(141, 138, 138, 0.8);
    background-color: rgb(141, 138, 138, 0.5);
    text-align: center;
    padding: 8px;
}

p {
    font-size: 1em;
}